main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  margin-top: 6rem;
}

main section {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  border-bottom: 2px var(--blue-dark) solid;
  padding: 3rem 0rem;
}

main .icon-flut img {
  width: 7rem;
}

main .container-alig {
  width: 80%;
  max-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}

main .text-info {
  width: 100%;
  gap: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .text-info h2 {
  font-size: 3rem;
}

main .text-info p {
  font-size: 1.5rem;
  width: 75%;
  text-align: center;
}

main .container {
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 2rem;
  flex-wrap: wrap;
}

main .itens {
  align-items: center;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 27rem;
  gap: 2rem;
}

main .itens img {
  width: 50px;
}

main .itens-text {
  text-align: center;
}

main .itens-text h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

main .itens-text {
  font-size: 1.5rem;
}

main .itens-text p {
  color: var(--grey-darck);
}

main .cotainer-galeria {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7rem;
  max-width: 1000px;
}

main .itens-galeria {
  width: 25rem;
}

main #sobre .container-alig {
  flex-direction: row;
}

main .text-sobre {
  width: 100%;
  gap: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .text-sobre h2 {
  font-size: 3rem;
}

main .text-sobre p {
  font-size: 1.5rem;
  width: 75%;
  text-align: left;
}

#capa{
  background-image: url(./assets/capa.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50rem;
  width: 100vw;

  position: relative;
}

.cta {
  background-color: var(--blue-dark);
  padding: 1.5rem 4rem;
  border-radius: 15px;
  font-size: 2.5rem;
  cursor: pointer;
  color: white;
  display: inline-block;

  border: white 2px solid;

  position: absolute;
  top: 25rem;
  left: 27.5rem;
}


#servicos,
#galeria {
  background-color: var(--pard);
}

#potifolio,
#sobre {
  background-color: var(--white-smoke);
}

@media ( max-width: 1200px ) {
  main .cotainer-galeria {
    width: auto;
    gap: 3rem;
  }

  main .itens-galeria {
    max-width: 17rem;
  }

  main #sobre .container-alig {
    flex-direction: column;
  }
}

@media ( max-width: 870px ) {
  main .container-iframe {
    width: 100%;
    background-color: red;
  }

  main .container-iframe iframe {
    width: 100%;
    min-height: 150px;
  }

  #capa{
    height: 38rem;
  }

  .cta {
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
  
    border: white 2px solid;
  
    top: 20rem;
    left: 22rem;
  }
}

@media (max-width: 650px) {
  main .itens-galeria {
    width: 10rem;
  }

  #sobre {
    width: auto;
  }

  main .container-iframe iframe {
    height: 100px;
  }

  #capa{
    height: 25rem;
  }

  .cta {
    font-size: 1rem;
    font-weight: bold;
  
    border: white 2px solid;
  
    top: 15rem;
    left: 17rem;
  }
}

@media (max-width: 450px) {
  #capa{
    height: 20rem;
  }

  .cta {
    font-size: 1rem;
    padding: 0.75rem;
  
    border: white 2px solid;
  
    top: 10rem;
    left: 10rem;
  }
}

@media (max-width: 350px) {
  #capa{
    height: 15rem;
  }
}