* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  color: black;
}

html header a,
html body a,
html footer a {
  text-decoration: none; 
}

html {
  /*==== cores bases ====*/
  --pard: #eaf1df;
  --blue: #6cafbd;
  --blue-dark: #2f4f8c;
  --yellow: #ebb62a;
  --orange: #e18720;

  /*==== grey ====*/
  --grey-darck: #4d5e77;
  --grey-blue: #a1b2cd;
  --grey-medium: #eaecf2;
  --grey-light: #e5eaf1;
  --white-smoke: #ffffff;

  /*==== fonts ====*/
  font-family: "Montserrat", sans-serif;

  font-size: 62.5%; /* tamanho padrão do navegador vira 10px*/

  scroll-behavior: smooth;
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 6rem;
  background-color: var(--blue-dark);

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 80%;
  max-width: 1500px;
}

header .links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.5rem;
}

header .links a {
  color: white;
}

.button {
  background-color: var(--blue);
  padding: 1rem;
  border-radius: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  display: inline-block;
}

header .toggle {
  display: none;
  width: 2.5rem;
}

main .icon-flut {
  position: fixed;
  bottom: 15vh;
  right: 2rem;
  z-index: 1;
  
  border-radius: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

main .icon-flut img {
  width: 5rem;
}

footer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
}

.footer-superpin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 1500px;
  padding: 4rem 0;
}

.footer-logo {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo img {
  width: 30rem;
}

.footer-divider {
  width: 2px;
  height: 20rem;
  background-color: var(--blue-dark);
}

.footer-contatos {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.footer-contatos h2 {
  font-size: 2.5rem;
  color: white;
}

.footer-contatos ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 1rem;
  font-size: 1.5rem;
}

.footer-contatos a {
  display: flex;
  gap: 2rem;
  align-items: center;
  width: 30rem;
}

.footer-contatos a p {
  color: white;
}

@media ( max-width: 1200px ) {
  .footer-superpin {
    justify-content: space-between;
  }

  .footer-logo img {
    width: 20rem;
  }

  .footer-contatos h2 {
    font-size: 2rem;
    color: white;
  }

  .footer-contatos ul {
    font-size: 1.25rem;
  }

  .footer-contatos a img {
    width: 3rem;
  }
}

@media ( max-width: 870px ) {

  header nav.show .links {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    gap: 10rem;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--blue-dark);
    flex-direction: column;
  }

  header nav .links {
    display: none;
  }

  header .links ul {
    flex-direction: column;
    gap: 5rem;
  }

  header .links ul a {
    font-size: 2.5rem;
    font-weight: bold;
  }

  header .button {
    display: none;
  }

  header nav.show .icon-close {
    display: block;

    position: fixed;
    right: 6rem;
    top: 5rem;
    z-index: 10;
  }

  header nav .icon-open {
    display: block;
  }

  header .icon-close:hover,
  header .icon-open:hover {
    cursor: pointer;
  }
}

@media (max-width: 650px) {
  .footer-superpin {
    flex-direction: column;
    gap: 2rem;
  }

  .footer-divider {
    height: 2px;
    width: 100%;
  }

  .footer-contatos {
    width: 100%;
  }

  main .icon-flut {
    bottom: 15vh;
    right: 3rem;
  }
  
  main .icon-flut img {
    width: 5rem;
  }
}